
body {
	width: 100%;
	height: 100%;
	background-image: url("dandelion.png");
	background-repeat: repeat-x-y;
	margin: 0px;
	padding: 0px;
}

.general {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	background-color: rgba(224, 255, 255, 0.7);
	border-radius: 1%;
}

.image-center {
	width: 45%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
}

.image-center img {
	width: 100%;
}

.img-thumbnail {
	background-color: rgba(0, 191, 255, 0.5);
}

.btn {
	margin: 1%;
}

.btn-info {
	text-align: left;
}

.alert-warning {
	text-align: center;
}

.contain .image-container{
	width: 80%;
	margin: 30px auto;
	overflow: hidden;
}

.contain .image-container {
	list-style:none;
	float: left; 
	width: 16%;
	margin: 2% 2% 40px 2%;
	color: #5d5f5d;
}
 
.contain .image-container a img {
	width: 100%;
}

@media only screen and (min-width: 941px) { 
	
	.contain .image-container:nth-child(5n+1) {
		clear:left;
	}
}

@media only screen and (min-width: 721px) and (max-width: 941px) { 
 
	.contain .image-container {
		width: 21%;
	}

	.contain .image-container:nth-child(4n+1){
		clear: left;
	}
}

@media only screen and (min-width: 531px) and (max-width: 721px){ 

	.contain .image-container {
		width: 29.33333%
	}

	.contain .image-container:nth-child(3n+1){
		clear: left;
	}
}

@media only screen and (min-width: 320px) and (max-width: 531px){  
	.contain .image-container {
		width: 46%;
	}

	.contain .image-container:nth-child(2n+1){
		clear: left;
	}
}

@media only screen and (max-width: 320px) {
	.contain .image-container {
		width: 96%;
	}
}